<p id="notice"><%= notice %></p>

<p>
  <strong>Oder r:</strong>
  <%= @order.oder_r_id %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @order.order_quantity %>
</p>

<p>
  <strong>Shipment date:</strong>
  <%= @order.shipment_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
